body {
    background: #212129;
 }
 
 ::selection {
    background: #212129;
 }
 
 .search-wrapper {
     position: absolute;
     transform: translate(-50%, -50%);
     top:50%;
     left:50%;
 }
 .search-wrapper.active {}
 
 .search-wrapper .input-holder {    
     height: 70px;
     width:70px;
     overflow: hidden;
     background: rgba(255,255,255,0);
     border-radius:6px;
     position: relative;
     transition: all 0.3s ease-in-out;
 }
 .search-wrapper.active .input-holder {
     width:450px;
     border-radius: 50px;
     background: rgba(0,0,0,0.5);
     transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
 }
 .search-wrapper .input-holder .search-input {
     width:100%;
     height: 50px;
     padding:0px 70px 0 20px;
     opacity: 0;
     position: absolute;
     top:0px;
     left:0px;
     background: transparent;
     box-sizing: border-box;
     border:none;
     outline:none;
     font-family:"Open Sans", Arial, Verdana;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     color:#FFF;
     transform: translate(0, 60px);
     transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.3s;
 }
 .search-wrapper.active .input-holder .search-input {
     opacity: 1;
     transform: translate(0, 10px);
 }
 .search-wrapper .input-holder .search-icon {
     width:70px;
     height:70px;
     border:none;
     border-radius:6px;
     background: #FFF;
     padding:0px;
     outline:none;
     position: relative;
     z-index: 2;
     float:right;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
 }
 .search-wrapper.active .input-holder .search-icon {
     width: 50px;
     height:50px;
     margin: 10px;
     border-radius: 30px;
 }
 .search-wrapper .input-holder .search-icon span {
     width:22px;
     height:22px;
     display: inline-block;
     vertical-align: middle;
     position:relative;
     transform: rotate(45deg);
     transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
 }
 .search-wrapper.active .input-holder .search-icon span {
     transform: rotate(-45deg);
 }
 .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
     position: absolute; 
     content:'';
 }
 .search-wrapper .input-holder .search-icon span::before {
     width: 4px;
     height: 11px;
     left: 9px;
     top: 18px;
     border-radius: 2px;
     background: #FE5F55;
 }
 .search-wrapper .input-holder .search-icon span::after {
     width: 14px;
     height: 14px;
     left: 0px;
     top: 0px;
     border-radius: 16px;
     border: 4px solid #FE5F55;
 }
 .search-wrapper .close {
     position: absolute;
     z-index: 1;
     top:24px;
     right:20px;
     width:25px;
     height:25px;
     cursor: pointer;
     transform: rotate(-180deg);
     transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
     transition-delay: 0.2s;
 }
 .search-wrapper.active .close {
     right:-50px;
     transform: rotate(45deg);
     transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.5s;
 }
 .search-wrapper .close::before, .search-wrapper .close::after {
     position:absolute;
     content:'';
     background: #FE5F55;
     border-radius: 2px;
 }
 .search-wrapper .close::before {
     width: 5px;
     height: 25px;
     left: 10px;
     top: 0px;
 }
 .search-wrapper .close::after {
     width: 25px;
     height: 5px;
     left: 0px;
     top: 10px;
 }
 

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
	 max-width: 100%;
	 background-color: #0d1a2d;
	 flex-wrap: wrap;
}
.card {
	 display: none;
	 flex-direction: column;
	 padding: 1rem;
	 max-width: 300px;
	 border-radius: 10px;
	 box-shadow: 5px 7px 24px 6px rgba(0, 0, 0, 0.29);
	 background-color: #15273f;
	 margin-right: 20px;
	 margin-bottom: 20px;
}
 img {
	 max-width: 300px;
	 border-radius: 10px;
}
 .cardContent h1 {
	 color: #fff;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 600;
	 font-size: 22px;
	 margin-top: 1rem;
}
 .cardContent p {
	 font-family: 'Outfit', sans-serif;
	 font-weight: 300;
	 color: #8aa2c4;
	 font-size: 16px;
}
 .cardContentFooter {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 .cardContentFooter div {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
}
 .cardContentFooter div p {
	 margin-left: 5px;
}
 .cardContentFooter .eth {
	 font-weight: 600;
	 color: #25ffff;
}
 .line {
	 width: 100%;
	 height: 1px;
	 background: #2f4159;
}
 



.loader-img2 {
	display: none;
	width: 64px;
	height: 64px;
	position: absolute;
	background: #FFF;
	border-radius: 4px;
	overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
.loader-img2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #ff9371;
    box-shadow: 32px -34px 0 5px #ff3d00;
    animation: slide 2s infinite ease-in-out alternate;
}
.loader-img2:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff3d00;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
    0% , 100%{ bottom: -35px}
    25% , 75%{ bottom: -2px}
    20% , 80%{ bottom: 2px}
}
@keyframes rotate {
    0% { transform: rotate(-15deg)}
    25% , 75%{ transform: rotate(0deg)}
    100% {  transform: rotate(25deg)}
}










.reveal-box {
	position: relative;
	max-height: 480px;
	width: calc((100vh - 48px) * 0.66);
	max-width: 320px;
	overflow: hidden;
  }
  .reveal-box__inner {
	width: calc(100% - 1rem);
	overflow: hidden;
  }
  .reveal-box__inner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #25ffff;
  }
  #reveal-box__image {
	object-fit: cover;
  }
  .enter .reveal-box__inner {
	animation: 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0s both paused slide-in-right;
  }
  .enter .reveal-box__inner::after {
	animation: 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0.6s both paused slide-out-right;
  }
  .enter #reveal-box__image {
	animation: 1.5s cubic-bezier(0.76, 0, 0.24, 1) 0.3s both paused scale-in-down;
  }
  .leave .reveal-box__inner {
	animation: 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0s both paused slide-out-right;
  }
  .leave .reveal-box__inner::after {
	animation: 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0s both paused slide-in-left;
  }
  .leave #reveal-box__image {
	animation: 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0s both paused slide-out-left;
  }
  .animate .reveal-box__inner {
	animation-play-state: running;
  }
  .animate .reveal-box__inner::after {
	animation-play-state: running;
  }
  .animate #reveal-box__image {
	animation-play-state: running;
  }
  @keyframes slide-in-right {
	0% {
	  transform: translate3D(-100%, 0, 0);
	}
	100% {
	  transform: translate3D(0, 0, 0);
	}
  }
  @keyframes slide-out-right {
	0% {
	  transform: translate3D(0, 0, 0);
	}
	100% {
	  transform: translate3D(100%, 0, 0);
	}
  }
  @keyframes slide-in-left {
	0% {
	  transform: translate3D(100%, 0, 0);
	}
	100% {
	  transform: translate3D(0, 0, 0);
	}
  }
  @keyframes slide-out-left {
	0% {
	  transform: translate3D(0, 0, 0);
	}
	100% {
	  transform: translate3D(-100%, 0, 0);
	}
  }
  @keyframes scale-in-down {
	0% {
	  transform: scale(1.3);
	}
	100% {
	  transform: scale(1);
	}
  }
  



.lightbox{
	position: absolute;
	width: 90vw;
	height: 90vh;
	z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lightbox img{
	background-color: black;
	max-width: 100%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
}


.h1heading{
    text-align: center;
    color: #25ffff;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 22px;
    word-wrap: break-word;
}

.h2heading{
    text-align: center;
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 18px;
    word-wrap: break-word;
}


@media (max-width: 480px) { 
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #0d1a2d;
		flex-direction: column;
   	}
	.card {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
    .lightbox img{
		max-width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-radius: 10px;
	}
}